{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "chrome": "94",
                    "node": "current"
                  }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}